<h1>{{ .Doc.Name }}</h1>
<small>{{ .Doc.Timestamp.Local.Format "Jan 2 2006 15:04:05" }}</small>
<hr></hr>

<div id="md"></div>
<script>document.getElementById('md').innerHTML = marked('{{ .Doc.Content }}', {langPrefix: "language-"});</script>
