<body>
  <nav class="nav">
    <div class="container">
      <a class="pagename current">{{ .Doc.Name }}</a>
      <a href="/">Home</a>
      <a href="#">Edit</a>
      <a href="#">History</a>
    </div>
  </nav>

  <div class="container"><div id="md"></div></div>

  <script data-manual src="/public/main.js"></script>
  <script>document.getElementById('md').innerHTML = marked('{{ .Doc.Content }}', {
    langPrefix: "language-",
    highlight: function(code, lang) {
      return Prism.highlight(code, Prism.languages[lang]);
    }
  });</script>
</body>
