<!doctype html>
<html lang="en-US">
  {{ template "head" .Name }}
  <body>
    <nav class="nav">
      <div class="container">
        <a class="pagename current">{{ .Name }}</a>
        <a href="/">Home</a>
        <a href="#">Edit</a>
      </div>
    </nav>

    <div class="container" id="md" data-md="{{ .Content }}"></div>
    <script data-manual src="/public/main.js"></script>
  </body>
</html>
